{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <style>
        .new_logo{
          width: 150px;
          height: 100px;
          margin-left: 40px;
          margin-top: 30px;
        }
    </style>
  <title>zhibogame</title>
  <link href="/assets/zhibogame_logo-924de9d9ba6fa40de70787ae1e201754.png" rel="shortcut icon" type="image/vnd.microsoft.icon" />
  <link data-turbolinks-track="true" href="/assets/application-4fe726a8f5c9f30085437886a0e63062.css" media="all" rel="stylesheet" />
  <script data-turbolinks-track="true" src="/assets/application-021a93d581524a2def3d799b2f33250e.js"></script>

  <link rel="stylesheet" type="text/css" href="http://staticlive.douyutv.com/common/douyu/style/common.css?v=2903.2" />
  <link rel="stylesheet" type="text/css" href="http://staticlive.douyutv.com/common/douyu/style/xarth_channel_sass.css?v=2903.2" />

  <meta content="authenticity_token" name="csrf-param" />
<meta content="t3Z+GqL5OcX+ziMJHyKwbSCbyrjAVvnwJLm7z/WTUOY=" name="csrf-token" />
</head>
<body>



<div class="channel-main">
  <script type="text/javascript" src="http://staticlive.douyutv.com/common/js/jquery.tinyscrollbar.min.js"></script>



  <div class="g_sd51" style="height:1080px;" id="left_col">

  <div id="large_nav">
    <div class="content left" >
      <a class="new_a" href="{% url 'index' %}"><img alt="Logo" class="new_logo" src="{% static "models/logo.png" %}" /></a>

      <div id="left_big_show">
        <div class="scrollbar">
          <div class="track">
          </div>
        </div>
        <div class="viewport">
          <div class="overview">

            <p class="divider"></p>
            <div class="nav_section" id="hotgame">
              <h3 class="header01">热门游戏</h3>
              <div class="clearfix">
                <div class="tagCont">
                  <ul>
                    {% for game in games %}
                        <li><a  title="{{ game.name }}"  href="{% url 'rooms' game.id %}">{{ game.name }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div  class="left_footer">
        <p class="divider"></p>
        <ul>
          <li><a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzgwMDA5MjU3MF8xNjQ1MDZfODAwMDkyNTcwXzJf" target="_blank"></a></li>
          <li><a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzgwMDA5MjU3MF8xNjQ1MDFfODAwMDkyNTcwXzJf" target="_blank"></a></li>
          <li><a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzgwMDA5MjU3MF8xNjQ1MDNfODAwMDkyNTcwXzJf" target="_blank"></a></li></ul>
      </div>

    </div>
  </div>
  </div>



  <div class="expandRight column" id="main_col">
    <div class="content">
      <div id="elem-mimiko-test" class="stretch js-columns-scroll scroll" style="top: 0px; bottom: 0px; visibility: visible;">
        <div class="tse-scroll-content" style="right: 0px; width: 1340px; height: 979px;">
          <div class="tse-content" style=" padding-right:0px;">

            
                <div class="player_column">
                  <div class="editable editable01" id="broadcast_meta">
                    <div class="info" style="padding-left:0;">
                      <div class="title"> <span class="real_title js-title">{{ game_name }}</span> </div>
                    </div>
                  </div>
                  <div class="items items01 clearfix" id="item_data"><ul>
                    {% for name, rooms in rooms_by_platform_name.items %}
                        {% for room in rooms %}
                            <li>
                                <a href="{{ room.url }}" target='_blank' class="list" title="{{ room.name }}">
                                    <span class="img"><img src="{{ room.image_url }}" width="320" height="180"/></span>
                                    <div class="mes">
                                        <h1 class="title">{{ room.name }}</h1>
                                        <p class="moreMes">
                                            <span class="view">{{ room.total_viewers }}</span><span class="nnt">{{ room.streamer }}</span>
                                            <span class="zbName"><em>{{ room.platform_game.platform_name }}</em></span>
                                        </p>
                                    </div>
                                    <i class="icon_live">正在直播</i>
                                </a>
                            </li>
                        {% endfor %}
                    {% endfor %}
                  </ul></div>
                </div>
            

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</body>
</html>
